# Credenciales OAuth de GTA World (Entregadas por el Staff en tu ticket)
GTAW_CLIENT_ID=YOUR_CLIENT_ID
GTAW_CLIENT_SECRET=YOUR_CLIENT_SECRET
# En produccion con DuckDNS / dominio: https://earrape.duckdns.org/api/auth/callback
GTAW_REDIRECT_URI=http://localhost:8080/api/auth/callback

# Configuracion de Entorno y Persistencia
ENVIRONMENT=production
DATABASE_PATH=/app/data/spotify.db
DOMAIN=earrape.duckdns.org
CERTBOT_EMAIL=admin@ejemplo.com

